.aesp-custom-admin-bar {
    display: block;
    width: 100%;
    margin: auto;
    padding: 10px 0px;
    text-align: center;
    font-family: inherit;
    font-size: .8rem;
    .aesp-btn {
        margin-left: 40px;
    }
}

.aesp-btn {
    margin: 0;
    padding: 12px 24px;
    border: none;
    border-radius: 0;
    background: #0A1451;
    color: #58BD19;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .2s;
    &:active,
    &:focus,
    &:hover,
    &:focus:hover {
        background: #58BD19;
        color: #0A1451;
    }
}